/* Estilos generales */
body {
    margin: 0px auto;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #222;
}

/* Header */
header {
    background: #1b74d4;
    color: white;
    padding: 10px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
}

.logo span {
    color: #ffb347;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    background: url('fondo.png') center/cover;
    padding: 250px 8%;
    color: white;
    text-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.hero-text h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.hero-text span {
    color: #ffb347;
}

.btn {
    display: inline-block;
    background: #ffb347;
    color: #222;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
}

.btn:hover {
    background: #ff9f1a;
}

/* Secciones */
.section {
    padding: 60px 8%;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.list {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
}

.list li {
    margin: 10px 0;
}

/* Contacto */
.contact form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    left: 575px;
    
    
}

input, textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

/* Footer */
footer {
    background: #1b74d4;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.imagen {
    width: 200px;
    
}

.banderas {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    margin-left: 120px;
    padding: 10px;

}

h3 {
    position: relative;
    top: 150px;
    right: 145px;
    text-align: center;
    
    

}    

.espanish {
    position: sticky;
    left: 10px;
    
}

.iconos {
    float: right;
    margin-right: 100px;
}

.contacto {
    width: 45px;
    
    
}

.contact {
  text-align: center;
  top: 0px;
    
}

.mensaje {
    position: sticky;
    left: 800px;
}

.write {
    text-align: center;
    

}









